/* For tablets: */

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

#menu{
	background-color: #5b5b5b;
}
#menu a{
	color: white;
	font-size: 12px;
}	
#banner img{
	display: none;
}
.inside_img{
	line-height:30px;
	color:black;
	position:static;
	border-bottom-style: solid;
	border-bottom-color: #5b5b5b;
}
#main_content{
	background-color: white;
}
.content_above{
	color:black;
	line-height:20px;
	margin-top:-4px;
	padding-top:30px;
}
#img_table img{
	max-width: 100%;
	height: auto;
}
.column1{
	padding: 2% 6.5% 1% 2%;
}
.column2{
	padding: 2% 6.5% 1% 2%;
}
.column3{
	padding: 2% 6.5% 1% 2%;
}
#footer p{
	text-align: justify;
	font-size: 15px;
}
#footer div{
	padding-bottom:5%;
}


















