
/* For mobile phones: */
[class*="col-"] {
	width: 100%;
  }
  
.col-sx-1 {width: 10%;}
.col-sx-2 {width: 20%;}
.col-sx-3 {width: 30%;}
.col-sx-4 {width: 40%;}
.col-sx-5 {width: 50%;}
.col-sx-6 {width: 60%;}
.col-sx-7 {width: 70%;}
.col-sx-8 {width: 80%;}
.col-sx-9 {width: 90%;}
.col-sx-10 {width: 100%;}

div.col-sx-0{
	display: none;
}

#menu{
	background-color: #5b5b5b;	
}
#menu a{
	color: white;
	font-size: 10px;
}
#banner img{
	display: none;
}
.inside_img{
	line-height:30px;
	color:black;
	position:static;
	border-bottom-style: solid;
	border-bottom-color: #5b5b5b;
}
#footer p{
	text-align: justify;
	font-size: 15px;
	color:black;
}
#footer div{
	padding-bottom:5%;
}
#img_table img{
	width: 100%;
	height: auto;
}



















