html{
	font-family: Arial, monospace;
}
body{
	width: 90%;
	height:auto;
	margin: auto;
}

*{ box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}
  
[class*="col-"] {
	float: left;
	padding: 1px;
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
  }
  
@media only screen and (max-width: 768px) {
	
	.col-sx-1 {width: 10%;}
	.col-sx-2 {width: 20%;}
	.col-sx-3 {width: 30%;}
	.col-sx-4 {width: 40%;}
	.col-sx-5 {width: 50%;}
	.col-sx-6 {width: 60%;}
	.col-sx-7 {width: 70%;}
	.col-sx-8 {width: 80%;}
	.col-sx-9 {width: 90%;}
	.col-sx-10 {width: 100%;}

	div.col-sx-0{
		display: none;
	}
	
	#menu{
		background-color: #5b5b5b;	
	}
	#menu a{
		color: white;
		font-size: 10px;
	}
	#banner img{
		display: none;
	}
	.inside_img{
		line-height:30px;
		color:black;
		position:static;
		border-bottom-style: solid;
		border-bottom-color: #5b5b5b;
	}
	#footer p{
		text-align: justify;
		font-size: 15px;
		color:black;
	}
	#footer div{
		padding-bottom:5%;
	}
	#img_table img{
		width: 100%;
		height: auto;
	}
}

@media only screen and (min-width: 768px) {
	/* For tablets: */

	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}

	#menu{
		background-color: #5b5b5b;
	}
	#menu a{
		color: white;
		font-size: 12px;
	}	
	#banner img{
		display: none;
	}
	.inside_img{
		line-height:30px;
		color:black;
		position:static;
		border-bottom-style: solid;
		border-bottom-color: #5b5b5b;
	}
	#main_content{
		background-color: white;
	}
	.content_above{
		color:black;
		line-height:20px;
		margin-top:-4px;
		padding-top:30px;
	}
	#img_table img{
		max-width: 100%;
		height: auto;
	}
	.column1{
		padding: 2% 6.5% 1% 2%;
	}
	.column2{
		padding: 2% 6.5% 1% 2%;
	}
	.column3{
		padding: 2% 6.5% 1% 2%;
	}
	#footer p{
		text-align: justify;
		font-size: 15px;
	}
	#footer div{
		padding-bottom:5%;
	}

}

@media only screen and (min-width: 992px) {
	/* For desktop: */

	.col-1 {width: 8.33%}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	#menu{
		background-color: white;		
	}
	#menu a{
		color: #5b5b5b;
		font-size: 15px;
	}
	#banner img{
		display:inline;
	}
	.inside_img{
		line-height:10px;
		color:white;
		position:absolute;
		top: 25%;
		left: 5%;
		border-bottom-style: none;
	}
	#main_content{
		background-color:#eeeeee;
	}
	.content_above{
		color:#444444;
		line-height:10px;
		margin-top:-4px;
		padding-top:30px;
		padding-left: 5%;
	}
	#img_table img{
		max-width: 100%;
		height: auto;
	}
	.column1{
		padding: 2% 1.9% 1% 5%;
	}
	.column2{
		padding: 2% 3% 1% 3.5%;
	}
	.column3{
		padding: 2% 5% 1% 2%;
	}
	#footer{
		background-color:#f3f6f4;
	}
	#footer p{
		text-align: justify;
		font-size: 15px;
	}
	#footer div{
		padding-bottom:5%;
	}
	
}

#menu ul{
	display:block;
	list-style-type: none;
  	padding: 20px 0;
}
#menu li{
	display:inline-block;
	text-align: center;
}
#menu a{
	font-weight: bold;
	text-transform:uppercase;
	text-decoration: none;
}

#banner{
	position:relative;
}
#banner img{
	height: auto;
}


















