body {
    font-family: 'Be Vietnam Pro', monospace;font-size: 22px;
}

.navbar{
    background-color:white;
    border:none;
}

@media only screen and (max-width: 768px) {
    .menubar-1{
        display: none;
    }
    .menubar-2{
        background-color: black;
        color:white;
    }
}
@media only screen and (min-width: 768px) {
    .menubar-2{
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    
}
@media only screen and (min-width: 1200px) {

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

